/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
.clear {
    clear: none;
}
body{
}

a:link { 
    text-decoration: none;
    color:#8a8a8a;
    }
a:visited { color:#8a8a8a; text-decoration: none;}
a {color:#8a8a8a;}


body{
    height: 100vh;
    overflow-x: hidden;
}
  .in-loader {
    width: 100%;
    height: 100%;
  }
  .in-loader .blocker {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/coca.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .in-loader svg {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -45px;
    fill: none;
  }
  .in-loader svg path {
    stroke-dasharray: 0 200;
    stroke-dashoffset: 100;
    stroke-width: 1px;
    stroke: #FFF;
    -webkit-animation: dash 10s linear infinite;
            animation: dash 10s linear infinite;
  }
  @-webkit-keyframes dash {
    45%, 65% {
      fill: transparent;
      stroke: #FFF;
    }
    50%, 60% {
      stroke-dasharray: 523 200;
      stroke: transparent;
      fill: #FFF;
    }
    100% {
      stroke-dasharray: 0 200;
    }
  }
  @keyframes dash {
    45%, 65% {
      fill: transparent;
      stroke: #FFF;
    }
    50%, 60% {
      stroke-dasharray: 523 200;
      stroke: transparent;
      fill: #FFF;
    }
    100% {
      stroke-dasharray: 0 200;
    }
  }
  .back{
    background-image: url("../img/cocaback2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position:relative;
    width: 100%;
    height: 100%;
  }
  .back-text{
      text-align: center;
      font-size: 60px;
      padding-top: 25%;
      color:white;
      font-weight: 600;
  }

  .gallery{
    width:1200px;
    margin-right:auto;
    margin-left:auto;
    margin-top:100px;
}
.gallery .view{
    overflow: hidden; /* 넘어가는걸 마스킹 처리 오버플로우 히든 메모~*/
    position: relative;
    width: 1200px;
    height: 545px;
}
.gallery .view .view-container{
    position: absolute;
    top:0;
    left:0;
    width: 1200px;
    height: 545px
}
.gallery .view .view-item{
    float:left;
    width:1200px;
    height: 545px
}
.gallery .view-container::after{
    content:"";
    display: block;
    position: relative;
    clear: both;
    
}
.gallery .view-item img{
    display: inline-block;
    width: 1200px;
    vertical-align: top;
}
.list{
    margin-top: -80px;
    margin-left:44%;
    }
.list li{
    display:inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin-left:5%;
}
.list li a {
    display: block;
    position: relative;
    cursor: pointer;
}
/*
.list li a::before{
    content:"";
    display:block;
    position: absolute;
    widows: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.2);
    opacity: 0.0;
}
*/
.list li a::before{
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:20px;
    height:20px;
    border-radius: 15px;
    box-sizing:border-box;
    -webkit-transition: border 120ms ease-in-out;
    -moz-transition:border 120ms ease-in-out;
    -o-transition:border 120ms ease-in-out;
    -ms-transition:border 120ms ease-in-out;
    background-color:rgb(255, 255, 255);
}
.list li.selected a{
    cursor: default;
}
.list li a:hover::before,.list li.selected a::before{
    border-width: 1.5px;
    background-color:rgb(255, 0, 0);
}

.goods-maintitle{
    text-align: center;
    margin-bottom:3%;
    font-size:30pt;
    font-weight: 500;
    margin-top:5%;
}
.itembox{
    width:18%;
    margin-left:10%;
    float:left;
    text-align:center;
    margin-top:6%;
    margin-bottom: 10%;
}
.itemimg1{
    width: 350px;
    height: 350px;
    background: url("../img/item1.png") no-repeat;
    display: inline-block;
}
.itemimg1:hover{
    opacity: 0.7;
    transform: scale(0.8);
    transition: 0.8s ease;
}
.item-text{
    margin-top:10px;
    font-size:15pt;
}
.item-text2{
    margin-top:10px;
    font-size:12pt;
}
.itemimg2:hover{
    opacity: 0.7;
    transform: scale(0.8);
    transition: 0.8s ease;
}

.itemimg3:hover{
    opacity: 0.7;
    transform: scale(0.8);
    transition: 0.8s ease;
}
.itemimg2{
    width: 350px;
    height: 350px;
    background: url("../img/item2.png") no-repeat;
    display: inline-block;
}

.itemimg3{
    width: 350px;
    height: 350px;
    background: url("../img/item3.png") no-repeat;
    display: inline-block;
}

.goods-sub-text{
    text-align: center;
    font-size: 10pt;
    line-height: 180%;
    margin-top:3%;

}

.Toplogo{
    position: fixed;
    top:10%;
    z-index: 1;
}
.nav{
    margin-left:6%;
}

.nav-title{
    position: fixed;
    font-size:11px;
    top:70%;
    margin-bottom: 30px;
    line-height: 280%;
    z-index: 1;
    color:#8a8a8a
}