/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
a:link { 
    text-decoration: none;
    color:#8a8a8a;
    }
a:visited { 
    color:#8a8a8a; text-decoration: none;
    }
a{color:#8a8a8a;}

*{
    font-family: "Arial","나눔고딕";
    }
ul,li,ol {
    list-style:none;
}

body{
    overflow-x:hidden;
}

.left{
    position: absolute;
    width: 90%;
    height: 380%;
    background-color: #ffffff;
    overflow: auto;
    overflow-y:hidden;
    overflow-x:hidden;
    
}
.Toplogo{
    position: fixed;
    top:10%;
    z-index: 1;
}
.nav{
    margin-left:6%;
}

.nav-title{
    position: fixed;
    font-size:11px;
    top:70%;
    margin-bottom: 30px;
    line-height: 280%;
    z-index: 1;
    color:#8a8a8a
}

.leftbox1{
    margin-top:15%;
    margin-left:20%;
}
.leftbox1maintitle{
    font-size:15pt;
    margin-bottom: 10%;
}
.leftbox1title1{
    color:white;
    font-size:0pt;
}

.leftbox2{
    margin-top:30%;
    margin-left:26.5%;
}
.leftbox2maintitle{
    color:rgb(80, 80, 80);
    font-size:10pt;
    margin-bottom: 5%;
}
.leftbox2subtitle1{
    font-size:15pt;
    margin-bottom: 5%;
}
.leftbox2title1{
    font-size:11pt;
    line-height: 200%;
}

.coca{
    position: absolute;
    max-width:100%;
    margin-left:80%;
    width:20%;
    margin-top:-20%;
}

.leftbox3{
    margin-top:30%;
    margin-left:26.5%;
}
.leftbox3maintitle{
    color:rgb(80, 80, 80);
    font-size:10pt;
    margin-bottom: 5%;
}
.leftbox3subtitle1{
    font-size:15pt;
    margin-bottom: 5%;
}
.leftbox3title1{
    font-size:11pt;
    line-height: 200%;
}
.brandimg1{
    max-width:100%;
    position: absolute;
    margin-left:90%;
    margin-top:-15%;
    width:15%;
}

.leftbox4{
    margin-top:25%;
    margin-left:26.5%;
}
.leftbox4maintitle{
    color:rgb(80, 80, 80);
    font-size:10pt;
    margin-bottom: 5%;
}
.leftbox4subtitle1{
    font-size:15pt;
    margin-bottom: 5%;
}

.brandimg2{
    position: absolute;
    max-width:100%;
    margin-left:90%;
}
.brandimg3{
    position: absolute;
    max-width:100%;
    margin-left:90%;
}
.brandimg4{
    position: absolute;
    max-width:100%;
    margin-left:90%;
}
.brandimg5{
    position: absolute;
    max-width:100%;
    margin-left:90%;
}
/*
.next{ visibility: hidden; }
.next.shown { visibility: visible;}
*/

.typing {  
/*       position: absolute;*/ 
     display: inline-block; 
      animation-name: cursor; 
      animation-duration: 0.3s; 
      animation-iteration-count: infinite; 
      color:red;
      font-size:120pt;
    } 
    @keyframes cursor{ 
      0%{border-right: 1px solid #fff} 
      50%{border-right: 1px solid #000} 
      100%{border-right: 1px solid #fff} 
    }
.leftbox5{
    margin-left:26.5%;
    margin-top:450px;
    width: 100%;
}
.leftbox5title{
    font-size:30pt;
    line-height: 100px;
}


.up{
    padding:8px;
    border:solid rgb(0, 0, 0) 1px;
    border-radius: 15px;
    margin-top:15px;
    font-size:14pt;
    color:#000000;
    
}
.up:hover{
    border:solid rgb(255, 0, 0) 1px;
    background-color:rgb(255, 0, 0);
    color:white;
}
.down{
    margin-left: 13px;
    padding:8px;
    border:solid rgb(0, 0, 0) 1px;
    border-radius: 15px;
    margin-top:15px;
    font-size:14pt;
    color:#000000;
}
.down:hover{
    border:solid rgb(255, 0, 0) 1px;
    background-color:rgb(255, 0, 0);
    color:white;
}
.Life{
    position: relative;
    background-color:#000;
    position: absolute;
    margin-top:300px;
    width:100%;
    height: 550%;
    top:350%;
    clear:both;
    display: none;
}
/*
.lifemain{
    position: absolute;
    margin-top:13%;
    left: 50%;
    transform:translateX(-50%);

}
*/
.lifebox1{
    clear:both;
    background-image: url("../img/lifemain.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position:relative;
    width: 100%;
    height: 800px;
}
.lifebox1maintitle{
    color:white;
    text-align: center;
    font-size: 120pt;
    padding-top:325px;
}
.lifebox2{
}
.lifebox2title{
    color: white;
    display: flex;
    position: absolute;
    top:0;
    right: 0;
    bottom: 45%;
    left: -15%;
    width: 700px;
    height: 39px;
    margin: auto;
    font-size: 40px;
    line-height: 40px;
    overflow: hidden;
}

.lifebox2title ul{
    padding-left: 20px;
    animation: cambiar 10s infinite;  
    color :#ff0000;
    font-style: italic;
}

.lifebox2title ul, p {
    margin: 0; 
  }

@keyframes cambiar {
    0% {margin-top: 0;}
    5% {margin-top: 0;}
    
   10% {margin-top: -40px;}
    15% {margin-top: -40px;}
    
    20% {margin-top: -80px;}
    25% {margin-top: -80px;}
    
    30% {margin-top: -120px;}
    35% {margin-top: -120px;}
    
    40% {margin-top: -160px;}
    45% {margin-top: -160px;}
  
    50% {margin-top: -160px;}
    55% {margin-top: -160px;}
    
    60% {margin-top: -120px;}
    65% {margin-top: -120px;}
    
    70% {margin-top: -80px;}
    75% {margin-top: -80px;}
  
    80% {margin-top: -40px;}
    85% {margin-top: -40px;}
  
    90% {margin-top: 0;}
    100% {margin-top: -0;}
  }

  .lifebox3title{
      color:white;
      margin-top:55%;
      text-align: center;
      font-size:20px;
  }
.iconbox{
    margin-top:8%;
    margin-left:5%;
}
  .lifebox3icon{
    width:12%;
    margin-left:15%;
    float:left;
    text-align:center;
    color:white;
  }
  .icontit{
    margin-top:37px;
    margin-bottom: 10px;
    font-size:11pt;
}
.clear{
    clear: both;
}
  .food1{
      position: absolute;
      margin-top:15%;
      margin-left:-800px;
  }
  .food1sub{
      position: absolute;
      margin-left:63%;
      margin-top:22%;
  }
  .food1subtitle{
      font-size:20pt;
      margin-bottom: 30px;
      color:#ff0000;
  }
  .food1subtitle2{
      font-size:11pt;
      line-height: 130%;
      color:#fff;
  }
  .letter1{
    letter-spacing: 0.8px;
  }
  .letter2{
    letter-spacing: 2px;
  }
  .letter3{
    letter-spacing: 1.7px;
  }
  

  .food2{
      margin-top:60%;
      margin-left:100%;
  }
  .food2sub{
      margin-left:250px;
      margin-top:-20%;
  }
  .food2subtitle{
    font-size:20pt;
    margin-bottom: 30px;
    color:#ff0000;
  }
  .food2subtitle2{
    font-size:11pt;
    line-height: 130%;
    color:#fff;
}

  .letter4{
    letter-spacing: 0.3px;
  }
  .letter5{
    letter-spacing: 1.3px;
  }
  .letter6{
    letter-spacing: 1.7px;
  }
  .letter7{
    letter-spacing: 2px;
  }

  .food3{
      position: absolute;
      margin-top:15%;
      margin-left:-800px;
  }
  .food3sub{
      position: absolute;
      margin-left:63%;
      margin-top:22%;
  }
  .food3subtitle{
      font-size:20pt;
      margin-bottom: 30px;
      color:#ff0000;
  }
  .food3subtitle2{
      font-size:11pt;
      line-height: 130%;
      color:#fff;
  }
  .letter8{
    letter-spacing: 2px;
  }
  .letter9{
    letter-spacing: 1.9px;
  }
  .letter10{
    letter-spacing: 1.2px;
  }
/*
  .food2{
    position: absolute;
    margin-top:60%;
    margin-left:55%;
    width: 32%;
}
*/
.block{
    background: white;
    border: 0.5px solid #ff0000;
    border-radius: 30px;
    width: 170px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    text-transformation: uppercase;
    font-family: 'arial', sans-serif;
    font-weight: bold;
    margin-top: 63%;
   color:#ff0000;
    padding:20px;
    display: block;
    background-image: linear-gradient(to left,
      transparent,
      transparent 50%,
      #ff0000 50%,
      #ff0000);
    background-position: 100% 0;
      background-size: 200% 100%;
      transition: all .25s ease-in;
      
  }
  .block:hover{
    background-position: 0 0;
    color:white;
  }