body{
  background-color: #000000;
}
.maintitle{
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
font-family: 'Merriweather', serif;
}
.maintitle h1{
margin:0;
padding:0;
text-transform: uppercase;
font-size:15em;
color:#1100ff;
margin-bottom: -30px;
font-weight: 800;
opacity: 0;
transition: all 2s ease-in-out;
}

h1::before{
content:attr(data-text);
position: absolute;
top:0;
left:0;
color:#b8b8b8;
color:#dddddd;
height:100%;
overflow: hidden;
transition: 1.5s;
}
h1:hover:before{
height: 0%;
}

.circle{
position: absolute;
border:3px solid rgb(167, 167, 167);

background-color: #000000;
width: 700px;
height: 700px;
border-radius:500px;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
opacity: 0;
transition: all 2s ease-in-out;
}
.circle:hover{
  background-color: #ffffff;
}

h2 {
  color: #888;
  font-weight: 200;
  margin: 1em 0;
}
.typo{
  margin-top:10%;
  font-size: 2em;
  text-align: center;
  opacity: 0;
  transition: all 3s ease-in-out;
}



.gnb{
  position: absolute;
  top:3%;
  left: 95%;
  background-color:blue;
  width: 50px;
  height: 50px;
  border-radius:50px;
  opacity: 0.05;
  transition: all 2s ease-in-out;
}
