body,html{height:100%;}
body,h1,h2,h3,h4,h5,h6,p,ul,li,figure{margin:0;padding:0}
ul,ol,li{list-style:none;}
img{border:none;}
a{text-decoration:none;}
.clearfix:after{content:"";clear:both;display:block;}
*{font-family: "Arial","나눔고딕";
    overflow-x: hidden;overflow-y: hidden;}
a {color:rgb(0, 0, 0);}
a:link { text-decoration: none;}
a:visited {color: rgb(0, 0, 0); text-decoration: none;}
a:hover { color: rgb(255, 0, 0); text-decoration: underline;}
.clear{clear:both;}
.gnb{
    position: fixed;
    width: 100%;
    height: 80px;
    text-align: center;
    background: white;
    z-index: 1;
    box-sizing: border-box;
    padding-top: 17px;
}
.gnb a{
    margin-left:5.2%;
    font-size: 11pt;
    
}
.logo{
    position: absolute;
    margin-left: -51%;
}

.login{
    text-align: center;
}
.login-title1{
    font-size: 20px;
    margin-top:15%;
    margin-bottom: 0px;
}
.id{
    margin-left: 4px;
    margin-bottom: 15px;
    width: 430px;
    height: 30px;
}
.password{
    margin-bottom: 20px;
    width: 430px;
    height: 30px;
}
.loginbox{
    margin-bottom: 10px;
    width: 430px;
    height: 30px;
    border: solid 1px #313131;
    color:white;
    background-color:#313131;
    padding-top:12px;
    display: inline-block;
    text-align: center;
    font-size:14px;
}
.loginbox:hover{
    background-color:#000000;
}
.membership{
    margin-bottom: 20px;
    width: 430px;
    height: 30px;
    border: solid 1px #313131;
    color:#313131;
    padding-top:14px;
    display: inline-block;
    text-align: center;
    font-size:12px;
}
.membership:hover{
    color:white;
    background-color:#313131;
}
.footer{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top:12%;
    background-color:rgb(51, 51, 51);
    font-size:10pt;
    color:white
}
.footer-title{
    margin-left:11%;
    padding-top:3%;
}
.footer-title1{
    margin-left:11%;
    margin-top:10px;
}
.kaywonlogo{
    position: absolute;
    margin-left:80%;
    margin-top:-50px;
}