body,html{height:100%;}
body,h1,h2,h3,h4,h5,h6,p,ul,li,figure{margin:0;padding:0}
ul,ol,li{list-style:none;}
img{border:none;}
a{text-decoration:none;}
.clearfix:after{content:"";clear:both;display:block;}
*{font-family: "Arial","나눔고딕";}
a {color:rgb(0, 0, 0);}
a:link { text-decoration: none;}
a:visited {color: rgb(0, 0, 0); text-decoration: none;}
a:hover { color: rgb(255, 0, 0); text-decoration: underline;}
.clear{clear:both;}
.gnb{
    position: fixed;
    width: 100%;
    height: 80px;
    text-align: center;
    background: white;
    z-index: 1;
    box-sizing: border-box;
    padding-top: 17px;
}
.gnb a{
    margin-left:5.2%;
    font-size: 11pt;
    
}
.logo{
    position: absolute;
    margin-left: -51%;
}

.gallery{
    width:1600px;
    margin-right:auto;
    margin-left:auto;
    padding-top:150px;
}
.gallery .view{
    overflow: hidden; /* 넘어가는걸 마스킹 처리 오버플로우 히든 메모~*/
    position: relative;
    width: 1600px;
    height: 600px;
}
.gallery .view .view-container{
    position: absolute;
    top:0;
    left:0;
    width: 1600px;
    height: 100%;
}
.gallery .view .view-item{
    float:left;
    width:1600px;
    height:100%;
}
.gallery .view-container::after{
    content:"";
    display: block;
    position: relative;
    clear: both;
    
}
.gallery .view-item img{
    display: inline-block;
    width: 1600px;
    vertical-align: top;
}
.list{
    margin-top: -60px;
    margin-left:45%;
    }
.list li{
    display:inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin-left:3%;
}
.list li a {
    display: block;
    position: relative;
    cursor: pointer;
}
.list li a img{
    display:inline-block;
    width: 20px;
    vertical-align: top;
}
/*
.list li a::before{
    content:"";
    display:block;
    position: absolute;
    widows: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.2);
    opacity: 0.0;
}
*/
.list li a::before{
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:20px;
    height:20px;
    border-radius: 15px;
    border:0px solid #000;
    box-sizing:border-box;
    -webkit-transition: border 120ms ease-in-out;
    -moz-transition:border 120ms ease-in-out;
    -o-transition:border 120ms ease-in-out;
    -ms-transition:border 120ms ease-in-out
}
.list li.selected a{
    cursor: default;
}
.list li a:hover::before,.list li.selected a::before{
    border-width: 1.5px;
    background-color:rgb(196, 196, 196);
}
.item{
    margin-top:6%;
    margin-left:1%;
}
.item-maintitle{
    text-align: center;
    margin-bottom: 5%;
    font-size:24pt;
    font-weight: 400;
}
.itembox{
    width:18%;
    margin-left:5%;
    float:left;
    text-align:center;
    margin-bottom: 5%;
}
.itemtitle{
    padding-top:20px;
    font-size:14pt;
    margin-left:5%;
}
.itemtitle2{
    margin-top:10px;
    margin-left:5%;
}

.itemimg1{
    width: 371px;
    height: 540px;
    background: url("../img/it1.png") no-repeat;
    display: inline-block;
}
.itemimg1:hover {
    background: url("../img/it1-1.png") no-repeat;
}

.itemimg2{
    width: 371px;
    height: 540px;
    background: url("../img/it2.png") no-repeat;
    display: inline-block;
}
.itemimg2:hover {
    background: url("../img/it2-1.png") no-repeat;
}

.itemimg3{
    width: 371px;
    height: 540px;
    background: url("../img/it3.png") no-repeat;
    display: inline-block;
}
.itemimg3:hover {
    background: url("../img/it3-1.png") no-repeat;
}

.itemimg4{
    width: 371px;
    height: 540px;
    background: url("../img/it4.png") no-repeat;
    display: inline-block;
}
.itemimg4:hover {
    background: url("../img/it4-1.png") no-repeat;
}


.back{
    clear:both;
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position:relative;
    width: 100%;
    height: 100%;
    margin-top:10%;
}
.backtitle{
    color:white;
    font-size: 60pt;
    text-align: center;
    padding-top:25%;
    font-weight: 500;
}
.backtitle2{
    color:red;
    font-weight: 700;
}
.won{
    font-weight: bold;
}
.lookbook-title{
    text-align:center;
    margin-bottom: 5%;
    font-size:24pt;
    font-weight: 400;
}
.lookbook-box{
    width:17%;
    margin-left:11%;
    float:left;
    text-align:center;
    margin-bottom: 5%;
}
.lookimg:hover{
    opacity: 0.5;
}
.lookimg-title1{
    padding-top:20px;
    font-size:14pt;
    margin-left:-55%;
}
.lookimg-title2{
    padding-top:20px;
    font-size:14pt;
    margin-left:-50%;
}
.lookimg-title3{
    padding-top:20px;
    font-size:14pt;
    margin-left:-45%;
}
.footer{
    position: relative;
    width: 100%;
    height: 150px;
    margin-top:5%;
    background-color:rgb(51, 51, 51);
    font-size:10pt;
    color:white
}
.footer-title{
    margin-left:11%;
    padding-top:3%;
}
.footer-title1{
    margin-left:11%;
    margin-top:10px;
}
.kaywonlogo{
    position: absolute;
    margin-left:80%;
    margin-top:-50px;
}