/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




a:link { 
    text-decoration: none;
    }
a:visited { 
    color: white; text-decoration: none;
    }



*{
    font-family: "Arial","나눔고딕";
    }
ul,li,ol {
    list-style:none;
}

body{
    background: #000;
}

.left{
    position: absolute;
    width: 90%;
    height: 2600px;
    background-color: #f5f5f5;
    overflow: auto; 
    overflow-x:hidden;
    
}
.Toplogo{
    position: fixed;
    top:10%;
}
.nav{
    margin-left:8%;
}

.nav-title{
    position: fixed;
    font-size:11px;
    top:70%;
    margin-bottom: 30px;
    line-height: 280%;
}

.leftbox1{
    margin-top:23%;
    margin-left:20%;
}
.leftbox1maintitle{
    font-size:30pt;
    margin-bottom: 18px;
}
.leftbox1title1{
    font-size:17pt;
    color:#ff0000;
}

.leftbox2{
    margin-top:30%;
    margin-left:26.5%;
}
.leftbox2maintitle{
    color:rgb(80, 80, 80);
    font-size:10pt;
    margin-bottom: 5%;
}
.leftbox2subtitle1{
    font-size:15pt;
    margin-bottom: 5%;
}
.leftbox2title1{
    font-size:11pt;
    line-height: 200%;
}

.coca{
    position: absolute;
    max-width:100%;
    margin-left:90%;
    width:20%;
    margin-top:-20%;
}

.leftbox3{
    margin-top:30%;
    margin-left:26.5%;
}
.leftbox3maintitle{
    color:rgb(80, 80, 80);
    font-size:10pt;
    margin-bottom: 5%;
}
.leftbox3subtitle1{
    font-size:15pt;
    margin-bottom: 5%;
}
.leftbox3title1{
    font-size:11pt;
    line-height: 200%;
}
.brandimg1{
    position: absolute;
    max-width:100%;
    margin-left:90%;
    margin-top:-15%;
}

.leftbox4{
    margin-top:25%;
    margin-left:26.5%;
}
.leftbox4maintitle{
    color:rgb(80, 80, 80);
    font-size:10pt;
    margin-bottom: 5%;
}
.leftbox4subtitle1{
    font-size:15pt;
    margin-bottom: 5%;
}

.brandimg2{
    position: absolute;
    max-width:100%;
    margin-left:90%;
}
.brandimg3{
    position: absolute;
    max-width:100%;
    margin-left:90%;
}
.brandimg4{
    position: absolute;
    max-width:100%;
    margin-left:90%;
}
.brandimg5{
    position: absolute;
    max-width:100%;
    margin-left:90%;
}
/*
.next{ visibility: hidden; }
.next.shown { visibility: visible;}
*/
@import 'lesshat';
.next{
  background: white;
  border: 1.3px solid #ff0000;
  border-radius: 30px;
  width: 170px;
  margin: 0 auto;
  margin-left:50%;
  text-align: center;
  padding: 50px;
  text-transformation: uppercase;
  font-family: 'arial', sans-serif;
  font-weight: bold;
  margin-top: 28%;
 color:#ff0000;
  padding:20px;
  display: block;
  background-image: linear-gradient(to left,
    transparent,
    transparent 50%,
    #ff0000 50%,
    #ff0000);
  background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .30s ease-in;
    
}
.next:hover{
  background-position: 0 0;
  color:white;
}