html{overflow-x: hidden; white-space: nowrap;}
.main{
    position: absolute;
    background-image: url("../image/bin.png");
    clear:both;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    filter: blur(3px);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.container{width:1400px; margin: 0 auto;}
.maintitle{
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 50pt;
    line-height: 1.8;
    font-weight: bold;
    color: #3a3a3a;
    position: absolute;
    margin-left:5%;
    margin-top:5%;
}
.maintitle a{color:#6f31c5;
    transition: .3s ease-in-out;}

.maintitle a:hover{
    transition: .3s ease-in-out;
}

.bin:hover{
    color: #370085
}