.container * { box-sizing:border-box; }
.container { 
  font-family: 'Roboto';
  position:relative; 
  height:100vh; 
  width:100%; 
  overflow:hidden; }
.container #scroll-mask { height: 100%; 
  display:flex; 
  flex-direction: row; 
  transition:all .6s ease; }
.container .scroll-slide { 
    transition:all .8s ease; 
    height:100%; 
    position:relative; 
    overflow:hidden; }
.container .scroll-slide .content { 
    overflow:hidden; 
    opacity:0; 
    position:absolute;
    text-align:center; 
    transition:all .5s ; 
    left:-30%; 
    top:250px; } 
.container .scroll-slide.active .content { left:10%; opacity:1; }
.container .scroll-slide .content .slide-bg { position:absolute;  }
.container .scroll-slide.active .content .slide-bg { width:100%;}

.content img {width: 800px;}
.maintext{
  font-family: 'Roboto', 'noto-sans';
  position: absolute;
  left:10%;
  margin-top:5%;
  font-size:36px;
  color: #FC105C;
  font-weight: 900;
}
.content2{
    position: relative;
    margin-left:10%;
    padding-top:170px; 
}
.content2 a{
    position: absolute;
    font-size: 42px;
    font-weight: 800;
    color: #434343;
}
.content3{
    position: relative;
    width: 380px;
    height: 500px;
    top:80px;
    left:1200px;
    transform: translate(-50%,0%);
    line-height: 2
}
.content3 .textbox{
    position: absolute;
    text-align: justify;
    font-size:18px;
}
.content3 .textbox b{
    font-size:23px;
    font-weight: 700;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
.content:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .5);
}
.img_title {
  position: absolute;
  color:#FFF;
  left:50%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  transition: top .5s ease;
  opacity: 0;
}
.content:hover .img_title {
  opacity: 1;
  top:40%;
}
.button {
  position: absolute;
  top: 280px;
  left:50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity .35s ease;
}
.button a {
  text-align: center;
  color: white;
  z-index: 1;
  font-size:25px;
  font-weight: bold;
}
.but1{
  background:#FC105C;
  padding:10px 30px;
}
.content:hover .button {
  opacity: 1;
  transition:800ms ease all;
  outline:none;
}
.but1:hover{
  background:#fff;
  color: #FC105C;
  transition: 1s;
}
.but1:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0px;
  height:5px;
  width:0;
  background: #FC105C;
  transition:400ms ease all;
}
.but1:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.but1:hover:before,.but1:hover:after{
  width:100%;
  transition:800ms ease all;
}