.container * { box-sizing:border-box; }
.container { position:relative; height:100vh; width:100%; overflow:hidden; }
/* main container */

/* 
    scroll mask - will be set to a ridiculous percentage, depending on how many slides there are
    eg: 1 slide = 100%, 2 slides = 200% etc
*/
.container #scroll-mask { height: 100%; display:flex; flex-direction: row; transition:all .6s ease; }

.container .scroll-slide { color:#ecf0f1; transition:all .8s ease; height:100%; position:relative; overflow:hidden; }
/* .container .scroll-slide.active { z-index:20; opacity:1; } */
.container .scroll-slide .content { overflow:hidden; opacity:0; position:absolute;text-align:center; transition:all .5s ; left:-30%; top:18%; } 
.container .scroll-slide.active .content { left:10%; opacity:1; }
.container .scroll-slide .content .slide-bg { position:absolute;  }
.container .scroll-slide.active .content .slide-bg { width:100%;}


.maintext{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin-left:10%;
    padding-top:50px;
    font-size:16pt;
    color: #6f31c5;
    font-weight: 900;
    z-index: 1;
}
.workimg_01 img{
    position: absolute;
    margin-left:100px;
}
.content2{
    position: absolute;
    width: 200px;
    left:85%;
    top:18%;
    transform: translate(-50%);
}
.content2 a{
    font-size: 15pt;
    font-weight: 800;
    color: #434343;
}