.menu_button{
    width: 2vw;
    height:100vh;
    background: #6f31c5;
    position: fixed;
    cursor: pointer;
    z-index:100;
    transition: all 1s ease-in-out;}

.menu_box{  
    z-index: 50;
    position: fixed;
    background: #ffffff;
    width: 100vw;
    height: 100vh;
    list-style-type: none; 
    transition: all 1s ease-in-out;
    transform:translate(-100%, 0)
}
.menu_box a{
    color:#370085
}
.menu_box ul{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin-left:10%;
    margin-top:5%;
    font-weight: 900;
    font-size:80pt;
    color:#3a3a3a;
}
.menu_box li+li{
    margin-top:50px;
}
.menu_button:hover{
    background: #3e1479;
    transition: all 1s ease-in-out;
}
.menu_box2{
    background: #f1f1f1;
    transform:translate(0, 0);
}
.menu_box3{
    background: #3e1479;;
    transition: all 1s ease-in-out;
}