.maintext{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin-left:10%;
    padding-top:50px;
    font-size:16pt;
    color: #6f31c5;
    font-weight: 900;
}

.self{
    padding-top:300px;
    margin-left:10%;
}
.name{
    font-size:100pt;
}
.number{
    font-size:30pt;
}
.email{
    font-size:30pt;/
}