.gnb{position: fixed;z-index:1000;top:3%;left:98%}
.home a{font-family:'Roboto','sans-sans';position: fixed;z-index:1;font-size:35px;color: #FC105C;top:1%;left:1%;}
.scetion{width: 100vw;height: 100vh;}
.hamberger{top:0;bottom:0;left:0;right:0;margin:auto;}
.menu{font-family:'Roboto',sans-serif;position: relative;width:100px;height:100px;transform:translate(-50%,-50%);}
.menu:hover{cursor: pointer}
.hambergerIcon {position:absolute;background-color: #FC105C;width:30px;height:3px;top:50%;left:50%;border-radius:50px;transform: translate(-50%, -50%) rotate(0deg);transition: all ease 0.5s;}
.hambergerIcon::before, .hambergerIcon::after {position: absolute;width: 50%;height: inherit;border-radius: inherit;background-color: inherit;margin: auto;transition: all ease 0.5s;content:"";}
.hambergerIcon::before {top:-10px;left:0;transform-origin: left;}
.hambergerIcon::after {bottom: -10px;right: 0;transform-origin: right;}
.open {transform: translate(-50%, -50%) rotate(135deg);}
.open::before{top: 0;transform: translateX(100%) rotate(-90deg);}
.open::after{bottom: 0;transform: translateX(-100%) rotate(-90deg);}
.menu_box{position: fixed;z-index: 1;background: #ffffff;width: 100vw;height: 100vh;list-style-type: none; transition: all 0.5s ease;opacity: 0;transform:translate(0, -100%)}
.menu_box a{color:#3a3a3a;transition: all 1s ease-in-out;}
.menu_box ul{font-family: 'Roboto', sans-serif;font-size:120px;font-weight:900;color:#3a3a3a;display: flex;flex-direction: column;margin-left:10%;margin-top:25%;transform:translate(0%, -50%);}
.menu_box li+li{margin-top:50px;}
.menu_box2{background: #f1f1f1;opacity: 1;transform:translate(0, 0);}
.menu_box3{transition: all 1s ease-in-out;}
.menu_box a:hover{transition:all 0.5s ease-in-out;color:#FC105C;}

/*
@media only screen and (max-width:550px){
    .gnb{position: fixed;z-index:1000;top:5%;left:93%}
    .home a{font-family:'Roboto','sans-sans';position: fixed;z-index:1;font-size:35px;color: #FC105C;top:3%;left:3%;}
    .menu_box ul{font-family: 'Roboto', sans-serif;font-size:30px;font-weight:900;color:#3a3a3a;display: flex;flex-direction: column;margin-left:10%;margin-top:80%;transform:translate(0%, -50%);}
}
*/

@media screen and (max-width: 1450px) {
	.menu_box{width: 100%; height:100%; }
	.menu_box ul{margin-top: 10%; transform: translate(0%, 0%); font-size: 60px; }
}

@media screen and (max-width: 600px) {
	.menu_box ul{font-size: 30px;}
	.menu {transform:translate(-70%,-45%);}
}
